.headline {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.025em;

  /*   font-size: 3rem;
  font-family: var(--font-serif);
  text-align: center;
  font-weight: 400;
  margin-bottom: 0.5rem;
  line-height: 1.2; */
}

.accent {
  color: var(--yellow);
  font-family: var(--font-serif);
  font-size: 3rem;
  line-height: 1.33;
  font-weight: 400;
  margin: 0;
}

.button {
  padding: 1.5rem;
  text-transform: uppercase;
  background: var(--blue);
  color: var(--white);
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}

.button:hover {
  background: var(--hover);
}

.content {
  padding: 1rem;
  background-color: var(--dusty-aqua-light);
  border: 1px solid var(--dusty-aqua);
  margin-bottom: 1rem;
}

.content .sup {
  font-size: 0.5em;
}

.content :first-child {
  margin-top: 0;
}

.content :last-child {
  margin-bottom: 0;
}

.form {
  background-color: var(--dusty-blue-lighter);
  padding: 1rem;
}

.form input {
  padding: 1rem;
}

.form input[type="range"] {
  padding: 3rem;
  display: block;
  width: 100%;
  margin: 0;
}

.form path {
  fill: none;
}

.form [type="checkbox"]:checked + svg path {
  background-color: green !important;
  padding: 10px;
  fill: currentColor;
}

.form option {
  padding: 0.2rem 0.5rem;
  width: 100%;
}

form .label {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  display: block;
}

.content label:last-of-type {
  display: inline-block;
}

/* lacj */

/* .style-title-h1 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.025em;
  } */

@media (min-width: 960px) {
  .style-title-h1 {
    font-size: 2.25rem;
    line-height: 1.375;
  }
}

.hidden {
  display: none;
}
